<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label for="firstName">Firstname</label>
      <input type="text" placeholder="Firstname" formControlName="firstName">
      <div
       *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched"
       class="validation">
        <small *ngIf="form.get('firstName')?.errors?.required">Firstname field cannot be empty</small>
      </div>
    </div>

    <div class="form-control">
      <label for="lastName">Lastname</label>
      <input type="text" placeholder="Lastname" formControlName="lastName">
      <div
        *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched"
        class="validation">
        <small *ngIf="form.get('lastName')?.errors?.required">Lastname field cannot be empty</small>
      </div>
    </div>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
      <div
       *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
       class="validation"
       >
       <small *ngIf="form.get('email')?.errors?.required">Email field cannot be empty</small>
       <small *ngIf="form.get('email')?.errors?.email">Wrong Email given</small>
      </div>
    </div>

    <div class="form-control">
      <label for="number">Number</label>
      <input type="text" placeholder="Number" formControlName="number">
      <div
        *ngIf="form.get('number')?.invalid && form.get('number')?.touched"
        class="validation">
        <small *ngIf="form.get('number')?.errors?.required">Number field cannot be empty</small>
        <small *ngIf="form.get('number')?.errors?.pattern">Enter only number between 1-10</small>
      </div>
    </div>

    {{form.get('password')?.errors | json}}

    <div class="form-control">
      <label>Pssword</label>
      <input type="password" placeholder="Password" formControlName="password">
      <div
       *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
       class="validation"
       >
       <small *ngIf="form.get('password')?.errors?.required">Password field cannot be empty</small>
       <small *ngIf="form.get('password')?.errors?.minlength">Minimum length must be {{ form.get('password')?.errors?.minlength?.requiredLength }}</small>
       <small *ngIf="form.get('password')?.errors?.hasUpperLetter?.value">Password must have an uppercase letter</small>
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">Send</button>

  </form>
</div>



