<div class="container">
  <form class="card"  (ngSubmit)="onSubmit()">
    <h1>Angular Forms</h1>

    <div *ngFor="let control of formArray;let i = index;">
      <div [formGroup]="control"
      >
        <div class="form-control">
          <label>Firstname</label>
          <input type="text"  placeholder="Firstname" formControlName="firstName">
          <div *ngIf="firstName(control).invalid && firstName(control).touched"
            class="validation">
            <small class="validation" *ngIf="firstName(control).hasError('required')">Firstname field cannot be empty</small>
          </div>
        </div>

        <div class="form-control">
          <label>Lastname</label>
          <input type="text" placeholder="Lastname" formControlName="lastName">
          <div *ngIf="lastName(control).invalid && lastName(control).touched"
            class="validation">
            <small *ngIf="lastName(control).hasError('required')">Lastname field cannot be empty</small>
          </div>
        </div>

        <div class="form-control">
          <label>Email</label>
          <input type="text" placeholder="Email" formControlName="email">
          <div
            *ngIf="email(control).invalid && email(control).touched"
            class="validation"
          >
            <small *ngIf="email(control).hasError('required')">Email field cannot be empty</small>
            <small *ngIf="email(control).hasError('email')">Wrong Email given</small>
          </div>
        </div>

        <div class="form-control">
          <label>Number</label>
          <input type="text" placeholder="Number" formControlName="number">
          <div
            *ngIf="number(control).invalid && number(control).touched"
            class="validation">
            <small *ngIf="number(control).hasError('required')">Number field cannot be empty</small>
            <small *ngIf="number(control).hasError('pattern')">Enter only number between 1-10</small>
          </div>
        </div>

        <div class="form-control">
          <label>Password</label>
          <input type="password" placeholder="Password" formControlName="password">
          <div
            *ngIf="password(control).invalid && password(control).touched"
            class="validation"
          >
            <small *ngIf="password(control).hasError('required')">Password field cannot be empty</small>
            <small *ngIf="password(control).hasError('minlength')">Minimum length must be {{ password(control).errors?.minlength?.requiredLength }}</small>
            <small *ngIf="!password(control).hasError('minlength') && password(control).errors?.hasUpperLetter?.value">Password must have an uppercase letter</small>
          </div>
        </div>

        <div class="form-control">
          <label>Confirm Password</label>
          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
          <div
            *ngIf="confirmPassword(control).invalid && confirmPassword(control).touched"
            class="validation">
            <small *ngIf="confirmPassword(control).hasError('required')">Confirm Password field cannot be empty</small>
            <small *ngIf="control?.errors?.notSame">Password must match</small>
          </div>
        </div>

<!--        {{confirmPassword(control).errors | json}}-->
<!--        {{control.errors | json}}-->

      </div>
      <button class="btn" type="button" (click)="addForm()">Add</button>
      <button class="btn" type="button" (click)="removeForm(i)" *ngIf="i != 0">Remove</button>
      <hr>
    </div>

    <button class="btn right" type="submit">Send</button>
<!--    <button class="btn right" type="submit" [disabled]="form.invalid">Send</button>-->

  </form>
</div>



